.export-page {
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298, #6dd5ed);
  padding-top: 100px;
}

.export-page h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #010f29;
  margin-bottom: 20px;
}

.export-page p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.export-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.export-actions button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #010f29;
  color: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.export-actions button:hover {
  background-color: #023e8a;
}


.date-range {
  margin-top: 20px;   /* ✅ pushes custom dates to next line */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.date-range button{
  background-color: black;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: #010f29;
  color: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.date-range button:hover {
  background-color: #023e8a;
}